@import "normalize", "meyer", "basevalues";

.head-container {
    opacity: 1;
    top: 0%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: $maxWidth;
    // margin: 0 auto;
    margin: -90px auto -90px;
    
    padding: 0 0 0;
    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // transform: translate(-50%, 0%) scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    z-index: 10;

    .text-container {
        display: block;
        width: 100%;

        .title-block, .subtitle-block, .paragraph-block{
            a, span {
                color: $colorResalte;
            }

            a {
                text-decoration: underline;
            }
        }

        .title-block {
            display: block;
            width: 100%;
            text-align: left;
            color: $colorText;
            
            font-weight: 400;
            padding: 0.5em 0 0.5em;
            
            font-size: 1.7em;
            line-height: 1.2em;
        }

        .subtitle-block {
            display: block;
            width: 100%;
            text-align: left;
            color: $colorText;

            font-weight: 400;
            padding: 0.4em 0 0.2em;

            font-size: 1.3em;
        }

        .paragraph-block {
            display: block;
            width: 100%;
            text-align: left;
            color: $colorText;

            font-weight: 400;
            padding: 1.4em 0 0.2em;

            font-size: 0.8em;
            line-height: 1em;
        }

        .contain_block {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 0.8em 0;
        }
    
        .container-btn {
            display: block;
            width: 100%;
            padding: 1em 0 0.5em;
            
            .contact-btn {
                display: block;
                // width: 80%;
                width: 70%;
                // max-width: 150px;
                margin: 0 auto;
    
                font-size: 1em;
                padding: 1em 0.3em;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}

.contact-pic {
    display: block;
    width: 100%;
    min-height: 420px;
    margin: 0 auto 0;

    background: url('../img/AboutPicture.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    // filter: grayscale(0.8);

    z-index: 5;

    animation: animPicture 2s infinite ease-in-out;
}

// Keyframes


// Media Queries

@media (orientation: landscape) {
    .main-container {
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;

        // margin: -90px auto 0;
        
        .text-container {
            width: 50%;
        }
    }

    .contact-pic {
        width: 45%;
        min-height: 360px;
    }
}

// Iphone 6/7/8
@media (min-width: $breakOneWidth) and (min-height: $breakOneHeight) {
}

// Iphone 6/7/8 Landscape
@media (min-width: $breakOneHeight) and (min-height: $breakOneWidth) and (orientation: landscape) {
}


// Iphone 6/7/8 Plus
@media (min-width: $breakTwoWidth) and (min-height: $breakTwoHeight) {
}

// Iphone 6/7/8 Plus Landscape
@media (min-width: $breakTwoHeight) and (min-height: $breakTwoWidth) and (orientation: landscape) {
    .main-container {
        margin: -60px auto 0;
        
    }
}

// Iphone X
@media (min-width: $breakThreeWidth) and (min-height: $breakThreeHeight) {
}


// Iphone X Landscape
@media (min-width:$breakThreeHeight) and (min-height: $breakThreeWidth) and (orientation: landscape){
    .main-container {
        margin: -60px auto 0;
        
    }
}


// Ipad
@media (min-width: $breakFourWidth) and (min-height: $breakFourHeight) {
    .main-container {
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;

        // margin: -90px auto 0;

        .text-container {
            width: 50%;

            .title-block {
                font-size: 1.9em;
            }
            .subtitle-block {
                font-size: 1.4em;
            }
            .paragraph-block {
                font-size: 1.1em;
            }
        }
    }

    .contact-pic {
        width: 45%;
        min-height: 400px;
    }
}

// Ipad Landscape
@media (min-width: $breakFourHeight) and (min-height: $breakFourWidth) and (orientation: landscape) {
    .contact-pic {
        width: 45%;
        min-height: 470px;
        background-position: center;
    }

    .main-container {
        margin: -60px auto -60px;

        .text-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            width: 50%;

            .title-block {
                font-size: 1.9em;
            }

            .subtitle-block {
                font-size: 1.4em;
            }

            .paragraph-block {
                font-size: 1.1em;
            }

            .skills_block {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .subtitle-block {
                    width: 50%;
                }
            }

            .social_block, .also_block {
                width: 50%;
            }

            .resume_block, .developed_block {
                width: 100%;
            }
        }
    }
}

// Ipad Pro
@media (min-width: $breakFiveWidth) and (min-height: $breakFiveHeight) {
    .contact-pic {
        min-height: 470px;
    }
    
    .main-container {
        .text-container {
            .title-block {
                font-size: 2.4em;
            }
            .subtitle-block {
                font-size: 1.8em;
            }
            .paragraph-block {
                font-size: 1.3em;
                line-height: 1.5em;
            }
        }
    }
}

// Ipad Pro Landscape
@media (min-width: $breakFiveHeight) and (min-height: $breakFiveWidth) and (orientation: landscape) {
    .contact-pic {
        min-height: 560px;
    }
    
    .main-container {
        .text-container {
            .title-block {
                font-size: 2.4em;
            }

            .subtitle-block {
                font-size: 1.8em;
            }

            .paragraph-block {
                font-size: 1.3em;
                line-height: 1.5em;
            }
        }
    }
}

// Desktop Big
@media (min-width: $breakSevenWidth) {
    .contact-pic {
        // width: 35%;
        width: 45%;
        min-height: 560px;
        // min-height: 100vh;
    }
}
