@import "normalize", "meyer", "basevalues";

.head-container {
    // opacity: 0;
    top: -25%;
}

.headContainerIn {
    transition: .5s;
    opacity: 1;
    top: 0%;
}

.veil-layer {
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.veilLayerOut {
    display: none;
}

.logo-veil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 50;

    svg {
        width: 160px;
        height: 160px;

        @media (min-width: $breakOneWidth) and (min-height: $breakOneHeight) {
            width: 200px;
            height: 200px;
        }

        @media (min-width: $breakTwoWidth) and (min-height: $breakTwoHeight) {
            width: 250px;
            height: 250px;
        }

        @media (min-width: $breakThreeWidth) and (min-height: $breakThreeHeight) {
            width: 240px;
            height: 240px;
        }

        @media (min-width: $breakFourWidth) and (min-height: $breakFourHeight) {
            width: 360px;
            height: 360px;
        }

        @media (min-width: $breakFiveWidth) and (min-height: $breakFiveHeight) {
            width: 440px;
            height: 440px;
        }

        @media (min-width: $breakSixWidth) and (min-height: $breakSixHeight) {
            width: 340px;
            height: 340px;
        }

        // @media (min-width: $breakSevenWidth) and (min-height: $breakSevenHeight) {
        //     width: 400px;
        //     height: 400px;
        // }
    }

    animation: animateLogoVeil 2s infinite ease-in-out;
}

.logoVeilOut {
    transition: 1.2s; //0.9s
    left: -60%;
}

.panel-veil {
    width: 50%;
    height: 120vh;
    z-index: 40;
}

.left-panel {
    // background-color: $colorResalte;
    background: $resalteBg;
    background-repeat: repeat;
    background-size: 200%;

    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    animation: animLeftSide 3s forwards ease-in-out;
}

// .leftPanelOut {
//     transition: 0.7s;
//     left: -60%;
// }

.right-panel {
    // background-color: $colorGradient;
    // background-color: $black;
    background: $darkBg;
    background-repeat: repeat;
    background-size: 200%;

    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    animation: animRightSide 3s forwards ease-in-out;
}

// .rightPanelOut {
//     transition: 0.5s;
//     right: -60%;
// }

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
    
    padding: 0.8em 0 0;
    // padding: 4em 0 0;
    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // transform: translate(-50%, 0%) scale(0.9);
    transform: scale(0.9);
    opacity: 0;

    .title-container {
        width: 100%;

        h3 {
            color: $white;
            text-align: center;
            font-weight: 700;

            font-size: 3em;
            line-height: 0.8em;
            padding-bottom: 0.25em;

            .main-span {
                font-size: 0.63em;

                .sub-span {
                    color: $colorResalte2;
                    animation: animateName 5s infinite ease-in-out;
                }
            }
            // /* Create the gradient. */
            // background-image: linear-gradient(300deg, $colorGradient, $colorResalte);

            // /* Use the text as a mask for the background. */
            // /* This will show the gradient as a text color rather than element bg. */
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // -moz-background-clip: text;
            // -moz-text-fill-color: transparent;
        }
    }

    .sub-paragraph {
        display: none;
        width: 100%;

        text-align: center;
        color: $colorText;
        font-weight: 100;
        padding: 0.5em 0;

        font-size: 1em;
        line-height: 1.2em;
    }

    .container-btn {
        display: block;
        width: 100%;
        padding: 1em 0 0.5em;
        
        .home-btn {
            display: block;
            // width: 80%;
            width: 70%;
            // max-width: 150px;
            max-width: 265px;
            margin: 0 auto;

            font-size: 1em;
            padding: 1em 0.3em;
            font-weight: 500;
            text-align: center;
        }
    }

}

.mainContainerIn {
    transition: 1s;
    // transform: translate(-50%, 0%) scale(1);
    transform: scale(1);
    opacity: 1;
}

.victor-picture {
    display: block;
    width: 100%;
    min-height: 60vh;
    margin: -6vh auto 0;
    // position: absolute;
    // top: 0;
    // left: 0;
    // padding-bottom: 100vh;

    background: url('../img/HomePicture.png');
    background-position: top center;
    background-size: 110%;
    background-repeat: no-repeat;
    // filter: grayscale(0.8);

    // z-index: 5;
    z-index: 0;

    // animation: animPicture 2s infinite ease-in-out;
}

// Keyframes

@keyframes animPicture {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

// @keyframes animateName {
//     0%{
//         color: $colorResalte;
//     }
//     50% {
//         color: $colorGradient;
//     }
//     100% {
//         color: $colorResalte;
//     }
// }

@keyframes animateName {
    0% {
        color: $colorResalte;
    }

    10% {
        color: $colorResalte2;
    }

    20% {
        color: $colorResalte3;
    }

    30% {
        color: $colorResalte4;
    }

    50% {
        color: $colorResalte5;
    }

    70% {
        color: $colorResalte4;
    }

    80% {
        color: $colorResalte3;
    }

    90% {
        color: $colorResalte2;
    }

    100% {
        color: $colorResalte;
    }
}

@keyframes animateLogoVeil {
    0%{
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

// New animation Set ==================
@keyframes animLeftSide {
    0% {
        left: 0%;
    }
    60% {
        left: 0%;
    }
    100% {
        left: -60%;
    }
}

@keyframes animRightSide {
    0% {
        right: 0%;
    }

    70% {
        right: 0%;
    }

    100% {
        right: -60%;
    }
}

// Media Queries

@media (orientation: landscape) {
    .right-panel,
    .left-panel {
        background-size: 130%;
    }

    .main-container {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0.2em 0 0;

        .text-container {
            display: block;
            width: 55%;
        }

        .victor-picture {
            width: 45%;
            min-height: 85vh;
        }
    }
}

// Iphone 6/7/8
@media (min-width: $breakOneWidth) and (min-height: $breakOneHeight) {
    .victor-picture {
        // min-height: 65vh;
        min-height: 55vh;
    }

    .main-container .sub-paragraph {
        display: block;
        width: 85%;
        margin: 0 auto;
    }
}

// Iphone 6/7/8 Landscape
@media (min-width: $breakOneHeight) and (min-height: $breakOneWidth) and (orientation: landscape) {
    .main-container {
        .sub-paragraph {
            display: block;
            width: 75%;
            margin: 0 auto;
        }

        .victor-picture {
            min-height: 88vh;
        }
    }
}


// Iphone 6/7/8 Plus
@media (min-width: $breakTwoWidth) and (min-height: $breakTwoHeight) {
    .victor-picture {
        // min-height: 70vh;
        min-height: 60vh;
    }
}

// Iphone X
@media (min-width: $breakThreeWidth) and (min-height: $breakThreeHeight) {
    // .main-container {
    //     padding: 8em 0 0;
    // }

    .victor-picture {
        margin: -3vh auto 0;
        min-height: 60vh;
    }
}

// Iphone X Landscape
@media (min-width: $breakThreeHeight) and (min-height:$breakThreeWidth) and (orientation: landscape) {
    .right-panel,
    .left-panel {
        background-size: 110%;
    }

    .main-container .victor-picture {
        margin: -20vh auto 0;
        min-height: 100vh;
        background-size: 100%;
    }
}

// Ipad
@media (min-width: $breakFourWidth) and (min-height: $breakFourHeight) {
        
    .main-container {
        .title-container h3 {
            font-size: 5em;
        }

        .sub-paragraph {
            width: 65%;
            font-size: 1.5em;
        }

        .container-btn .home-btn {
            width: 55%;
            font-size: 1.4em;
        }

        .victor-picture {
            // min-height: 50vh;
            // background-size: 70%;
            min-height: 55vh;
            background-size: 60%;
        }
    } 
}

// Ipad Landscape
@media (min-width: $breakFourHeight) and (min-height: $breakFourWidth) and (orientation: landscape) {
    .main-container {
        .title-container h3 {
            font-size: 4.2em;
        }

        .sub-paragraph {
            width: 70%;
            font-size: 1.2em;
        }

        .container-btn .home-btn {
            width: 65%;
            font-size: 1.2em;
        }

        .victor-picture {
            margin: -3vh auto 0;
            min-height: 90vh;
            background-size: 100%;
        }
    }
}

// Ipad Pro
@media (min-width: $breakFiveWidth) and (min-height: $breakFiveHeight) {
    .main-container {
        padding: 3em 0 0;
        
        .victor-picture {
            margin: 0vh auto 0;
            min-height: 60vh;
            background-size: 65%;
        }
    }
}

// Ipad Pro Landscape
@media (min-width: $breakFiveHeight) and (min-height: $breakFiveWidth) and (orientation: landscape) {
    .main-container {
        .title-container h3 {
            font-size: 5.5em;
        }

        .sub-paragraph {
            width: 70%;
            font-size: 1.6em;
        }

        .container-btn .home-btn {
            width: 65%;
            font-size: 1.6em;
        }

        .victor-picture {
            margin: 0vh auto 0;
            min-height: 90vh;
            // background-size: 110%;
            background-size: 100%;
        }
    }
}

// Desktop Big
@media (min-width: $breakSevenWidth) {
    .victor-picture {
        background-size: 85%;
    }
}