// Apps  
#potusdata {
    background: url('../img/Project-Cover/PotusData.png');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.3s;
}

#datamovie {
    background: url('../img/Project-Cover/DataMovie.png');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.3s;
}


#wiki-searcher {
    background: url('../img/Project-Cover/WikiSearcher.png');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.3s;
}


// Branding Identity
#vr-branding {
    background: url('../img/Project-Cover/VR-Branding.png');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.3s;
}

#cuba-branding {
    background: url('../img/Project-Cover/Cuba-Branding.png');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.3s;
}

#wholezzome {
    background: url('../img/Project-Cover/Wholezzome.png');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.3s;
}


// Campaigns
#havana500 {
    background: url('../img/Project-Cover/Havana500.png');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.3s;
}


// Digital Design
#euroamerica-2021 {
    background: url('../img/Project-Cover/EuroAmerica2021.png');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.3s;
}

#museum-series {
    background: url('../img/Project-Cover/MuseumSeries.png');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.3s;
}

#shape {
    background: url('../img/Project-Cover/Shape.png');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.3s;
}