.project-cover {
    background: url('../assets/Recap2021.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2021-one {
    background: url('../assets/FeelTheBeat-1.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2021-two {
    background: url('../assets/FeelTheBeat-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2021-three {
    background: url('../assets/FeelTheBeat-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2021-four {
    background: url('../assets/Cohiba-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2021-five {
    background: url('../assets/Cohiba-5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2021-six {
    background: url('../assets/StravaState2021-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2021-seven {
    background: url('../assets/StravaState2021-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2021-eight {
    background: url('../assets/StravaState2021-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2021-nine {
    background: url('../assets/StravaState2021-8.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
