.project-cover {
    background: url('../assets/Gaucho-Yerba-Mate-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gaucho-one {
    background: url('../assets/Gaucho-Yerba-Mate-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gaucho-two {
    background: url('../assets/Gaucho-Yerba-Mate-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gaucho-three {
    background: url('../assets/Gaucho-Yerba-Mate-5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gaucho-four {
    background: url('../assets/Gaucho-Yerba-Mate-6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gaucho-five {
    background: url('../assets/Gaucho-Yerba-Mate-7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gaucho-six {
    background: url('../assets/Gaucho-Yerba-Mate-8.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gaucho-seven {
    background: url('../assets/Gaucho-Yerba-Mate-9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gaucho-eight {
    background: url('../assets/Gaucho-Yerba-Mate-10.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gaucho-nine {
    background: url('../assets/Gaucho-Yerba-Mate-11.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gaucho-ten {
    background: url('../assets/Gaucho-Yerba-Mate-12.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gaucho-eleven {
    background: url('../assets/Gaucho-Yerba-Mate-13.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gaucho-twelve {
    background: url('../assets/Gaucho-Yerba-Mate-14.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gaucho-thirteen {
    background: url('../assets/Gaucho-Yerba-Mate-15.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gaucho-fourteen {
    background: url('../assets/Gaucho-Yerba-Mate-16.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}