.project-cover {
    background: url('../assets/Cuba-Tourism-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-one {
    background: url('../assets/Cuba-Tourism-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-two {
    background: url('../assets/Cuba-Tourism-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-three {
    background: url('../assets/Cuba-Tourism-5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-four {
    background: url('../assets/Cuba-Tourism-6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-five {
    background: url('../assets/Cuba-Tourism-7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-six {
    background: url('../assets/Cuba-Tourism-8.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-seven {
    background: url('../assets/Cuba-Tourism-9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-eight {
    background: url('../assets/Cuba-Tourism-10.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-nine {
    background: url('../assets/Cuba-Tourism-11.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-ten {
    background: url('../assets/Cuba-Tourism-12.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-eleven {
    background: url('../assets/Cuba-Tourism-13.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-twelve {
    background: url('../assets/Cuba-Tourism-14.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-thirteen {
    background: url('../assets/Cuba-Tourism-15.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-fourteen {
    background: url('../assets/Cuba-Tourism-16.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-fifteen {
    background: url('../assets/Cuba-Tourism-17.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-sixteen {
    background: url('../assets/Cuba-Tourism-18.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-seventeen {
    background: url('../assets/Cuba-Tourism-19.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cuba-branding-eighteen {
    background: url('../assets/Cuba-Tourism-20.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}