.project-cover {
    background: url('../assets/MuseumSeries.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#museum-series-one {
    background: url('../assets/1-Hermitage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#museum-series-two {
    background: url('../assets/2-British-Museum.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#museum-series-three {
    background: url('../assets/3-Prado.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#museum-series-four {
    background: url('../assets/4-MoMA.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#museum-series-five {
    background: url('../assets/5-MuseeDOrsay.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#museum-series-six {
    background: url('../assets/6-Rijksmuseum.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#museum-series-seven {
    background: url('../assets/7-Metropolitan-Museum-of-Art.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#museum-series-eight {
    background: url('../assets/8-National-Gallery.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#museum-series-nine {
    background: url('../assets/9-Vatican-Museum.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#museum-series-ten {
    background: url('../assets/10-Smithsonian-Institution.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


