.project-cover {
    background: url('../assets/YOR-App.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#yorapp-one {
    background: url('../assets/YOR-App-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#yorapp-two {
    background: url('../assets/YOR-App-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#yorapp-three {
    background: url('../assets/YOR-App-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#yorapp-four {
    background: url('../assets/YOR-App-4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#yorapp-five {
    background: url('../assets/YOR-App-5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#yorapp-six {
    background: url('../assets/YOR-App-6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#yorapp-seven {
    background: url('../assets/YOR-App-7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#yorapp-eight {
    background: url('../assets/YOR-App-8.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#yorapp-nine {
    background: url('../assets/YOR-App-9.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}