.project-cover {
    background: url('../assets/Recap2019.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2019-one {
    background: url('../assets/5-MuseeDOrsay.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2019-two {
    background: url('../assets/6-Rijksmuseum.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2019-three {
    background: url('../assets/7-Metropolitan-Museum-of-Art.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2019-four {
    background: url('../assets/9-Vatican-Museum.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2019-five {
    background: url('../assets/N1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2019-six {
    background: url('../assets/N2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2019-seven {
    background: url('../assets/N3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recap2019-eight {
    background: url('../assets/N4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
