.project-cover {
    background: url('../assets/PotusData.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#potus-one {
    background: url('../assets/GeorgeW.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#potus-two {
    background: url('../assets/AbrahamLincoln.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#potus-three {
    background: url('../assets/FranklinR.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#potus-four {
    background: url('../assets/JohnFK.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#potus-five {
    background: url('../assets/RichardN.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#potus-six {
    background: url('../assets/RonaldR.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#potus-seven {
    background: url('../assets/BillC.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#potus-eight {
    background: url('../assets/GeorgeWB.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#potus-nine {
    background: url('../assets/Mobile1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#potus-ten {
    background: url('../assets/Mobile2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#potus-eleven {
    background: url('../assets/BarackO.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#potus-twelve {
    background: url('../assets/DonaldT.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

