.project-cover {
    background: url('../assets/LaLiga2122-0.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#laliga2122-one {
    background: url('../assets/LaLiga2122-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#laliga2122-two {
    background: url('../assets/LaLiga2122-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#laliga2122-three {
    background: url('../assets/LaLiga2122-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#laliga2122-four {
    background: url('../assets/LaLiga2122-5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#laliga2122-five {
    background: url('../assets/LaLiga2122-6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#laliga2122-six {
    background: url('../assets/LaLiga2122-7.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#laliga2122-seven {
    background: url('../assets/LaLiga2122-8.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#laliga2122-eight {
    background: url('../assets/LaLiga2122-9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#laliga2122-nine {
    background: url('../assets/LaLiga2122-10.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#laliga2122-ten {
    background: url('../assets/LaLiga2122-11.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#laliga2122-eleven {
    background: url('../assets/LaLiga2122-12.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#laliga2122-twelve {
    background: url('../assets/LaLiga2122-13.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}