.project-cover {
    background: url('../assets/ClassicFilmFestival0.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#classic-film-festival-one {
    background: url('../assets/ClassicFilmFestival2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#classic-film-festival-two {
    background: url('../assets/ClassicFilmFestival3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#classic-film-festival-three {
    background: url('../assets/ClassicFilmFestival4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#classic-film-festival-four {
    background: url('../assets/ClassicFilmFestival5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#classic-film-festival-five {
    background: url('../assets/ClassicFilmFestival6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#classic-film-festival-six {
    background: url('../assets/ClassicFilmFestival7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#classic-film-festival-seven {
    background: url('../assets/ClassicFilmFestival8.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#classic-film-festival-eight {
    background: url('../assets/ClassicFilmFestival9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#classic-film-festival-nine {
    background: url('../assets/ClassicFilmFestival10.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#classic-film-festival-ten {
    background: url('../assets/ClassicFilmFestival11.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#classic-film-festival-eleven {
    background: url('../assets/ClassicFilmFestival12.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#classic-film-festival-twelve {
    background: url('../assets/ClassicFilmFestival13.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}