.project-next .project-picture {
    background-position: center !important; // because Covid Picture
}

.project-cover {
    background: url('../assets/StravaStateof2021.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#strava-state-of-2021-one {
    background: url('../assets/StravaState2021-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#strava-state-of-2021-two {
    background: url('../assets/StravaState2021-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#strava-state-of-2021-three {
    background: url('../assets/StravaState2021-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#strava-state-of-2021-four {
    background: url('../assets/StravaState2021-5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#strava-state-of-2021-five {
    background: url('../assets/StravaState2021-6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#strava-state-of-2021-six {
    background: url('../assets/StravaState2021-7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#strava-state-of-2021-seven {
    background: url('../assets/StravaState2021-8.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#strava-state-of-2021-eight {
    background: url('../assets/StravaState2021-9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}