.project-cover {
    background: url('../assets/VR-Brand-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#vr-branding-one {
    background: url('../assets/VR-Brand-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#vr-branding-two {
    background: url('../assets/VR-Brand-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#vr-branding-three {
    background: url('../assets/VR-Brand-5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#vr-branding-four {
    background: url('../assets/VR-Brand-6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#vr-branding-five {
    background: url('../assets/VR-Brand-7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#vr-branding-six {
    background: url('../assets/VR-Brand-8.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#vr-branding-seven {
    background: url('../assets/VR-Brand-9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#vr-branding-eight {
    background: url('../assets/VR-Brand-10.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#vr-branding-nine {
    background: url('../assets/VR-Brand-11.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}