.project-cover {
    background: url('../assets/Cohiba.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cohiba-one {
    background: url('../assets/Cohiba-3.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#cohiba-two {
    background: url('../assets/Cohiba-4.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#cohiba-three {
    background: url('../assets/Cohiba-5.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#cohiba-four {
    background: url('../assets/Cohiba-6.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#cohiba-five {
    background: url('../assets/Cohiba-7.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#cohiba-six {
    background: url('../assets/Cohiba-8.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}