.project-cover {
    background: url('../assets/FeelTheBeat-0.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#beats-one {
    background: url('../assets/FeelTheBeat-1.gif');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#beats-two {
    background: url('../assets/FeelTheBeat-2.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#beats-three {
    background: url('../assets/FeelTheBeat-3.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#beats-four {
    background: url('../assets/FeelTheBeat-4.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#beats-five {
    background: url('../assets/FeelTheBeat-5.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#beats-six {
    background: url('../assets/FeelTheBeat-6.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}