.project-cover {
    background: url('../assets/Grid-Periodic-Table.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#grid-periodic-table-one {
    background: url('../assets/grid-periodic-table-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#grid-periodic-table-two {
    background: url('../assets/grid-periodic-table-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#grid-periodic-table-three {
    background: url('../assets/grid-periodic-table-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#grid-periodic-table-four {
    background: url('../assets/grid-periodic-table-4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#grid-periodic-table-five {
    background: url('../assets/grid-periodic-table-5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}