.project-cover {
    background: url('../assets/SpainBrand1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-one {
    background: url('../assets/SpainBrand3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-two {
    background: url('../assets/SpainBrand4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-three {
    background: url('../assets/SpainBrand5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-four {
    background: url('../assets/SpainBrand6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-five {
    background: url('../assets/SpainBrand7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-six {
    background: url('../assets/SpainBrand8.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-seven {
    background: url('../assets/SpainBrand9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-eight {
    background: url('../assets/SpainBrand10.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-nine {
    background: url('../assets/SpainBrand11.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-ten {
    background: url('../assets/SpainBrand12.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-eleven {
    background: url('../assets/SpainBrand13.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-twelve {
    background: url('../assets/SpainBrand14.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-thirteen {
    background: url('../assets/SpainBrand15.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-fourteen {
    background: url('../assets/SpainBrand16.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-fiveteen {
    background: url('../assets/SpainBrand17.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-sixteen {
    background: url('../assets/SpainBrand18.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-seventeen {
    background: url('../assets/SpainBrand19.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-eighteen {
    background: url('../assets/SpainBrand20.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-nineteen {
    background: url('../assets/SpainBrand21.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-twenty {
    background: url('../assets/SpainBrand22.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spain-brand-twenty-one {
    background: url('../assets/SpainBrand23.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}