.project-cover {
    background: url('../assets/WikiSearcher.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#wiki-searcher-one {
    background: url('../assets/WikiSearcher-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#wiki-searcher-two {
    background: url('../assets/WikiSearcher-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#wiki-searcher-three {
    background: url('../assets/WikiSearcher-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#wiki-searcher-four {
    background: url('../assets/WikiSearcher-4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#wiki-searcher-five {
    background: url('../assets/WikiSearcher-5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}